.container-gallery {
  margin-top: 20px;
  border-radius: 10px;
  height: auto;
  overflow: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.28);
  height: 500px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-images {
  max-height: 500px;
  overflow: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.icon-delete-image {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 100;
  color: #6c30f7;
  cursor: pointer;
}

.skeleton-loader {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #f2f2f2;
  }
}

@media (max-width: 981px) {
  .container-images {
    justify-content: center;
  }
}
