.container-details {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.container-menu {
  padding: 20px;
}

.image-product{
  border-radius: 12px;
}

.container-menu  button {
  background-color: black;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
}

.container-menu > ul {
  display: flex;
}

.container-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.container-info > h1 {
  font-size: 25px;
}

.container-colors {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.color {
  width: 22px;
  height: 22px;
  border: 2px solid rgb(214, 212, 212);
  border-radius: 100%;
  cursor: pointer;
  background-color: blue;
}

.container-size {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms ease;
}

.size:hover {
  background-color: rgba(180, 182, 192, 0.459);
}

.button-pay {
  background-color: black;
  transition: 500ms ease;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

.button-pay:hover {
  background-color: rgb(70, 69, 69);
}

@media (max-width: 1546px) {
  .container-details {
    width: 90%;
  }
}

@media (max-width: 1286px) {
  .container-details {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .container-details {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container-images {
    flex-direction: row;
    justify-content: center;
  }

  .image-product {
    width: 80%;
    margin: auto;
  }

  .container-info {
    width: 500px;
    margin: auto;
    justify-content: center;
  }

  .container-size {
    justify-content: center;
  }

  .container-colors {
    justify-content: center;
  }
}

@media (max-width: 598px) {
  .container-info {
    width: 100%;
  }

  .container-images > img{
    width: 80px;
    height: 80px;
  }
}
