.select-color {
  background-color: white;
  width: 100px;
  height: 44px;
  position: relative;
  top: 12px;
  cursor: pointer;
}

.add-color {
  background-color: #6256caa9;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}

.add-color-active {
  background-color: #6256ca;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}

.burble {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-size: small;
  border: 1px solid gainsboro;
}
