.add-weight {
  background-color: #6256caa9;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}

.add-weight-active {
  background-color: #6256ca;
  color: white;
  font-size: small;
  border-radius: 5px;
  padding: 5px 10px;
}
