@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-regular);
}

h1,
h2,
li {
  font-family: var(--font-semibold);
}

li {
  transition: 500ms ease;
}

li:hover {
  color: #6439ff;
}

.burble {
  background-color: #6256ca;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-size: small;
  border: 1px solid gainsboro;
}

.container-attributes {
  width: 150px;
  max-width: 250px;
  display: flex;
  gap: 10px;
  overflow: auto;
  padding: 20px 10px;
}

.container-attributes::-webkit-scrollbar {
  height: 10px;
}

.container-attributes::-webkit-scrollbar-track {
  background-color: white; /* Color del fondo del scroll */
  border-radius: 10px;
}

.container-attributes::-webkit-scrollbar-thumb {
  background-color: #c5c5c9;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #441eda;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
.loader-2 {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #441eda;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.loader-3 {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #441eda;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
