@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-regular);
}

h1,
h2,
li {
  font-family: var(--font-semibold);
}

li {
  transition: 500ms ease;
}

li:hover {
  color: #6439ff;
}

.burble {
  background-color: #6256ca;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-size: small;
  border: 1px solid gainsboro;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #6439ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
