@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-regular);
}

h1,
h2,
li {
  font-family: var(--font-semibold);
}

li {
  transition: 500ms ease;
}

li:hover {
  color: #6439ff;
}
